@model Category
@{
    ViewData["Title"] = "Create Product Type";
}

<div class="card">
    <div class="card-header">
        Create Category
    </div>
    <form asp-action="Create" method="post">

        <div class="card-body">

            <div class="form-group row ">
                <div class="col-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="col-5">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Save" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}