@model CreateEmployeeViewModel
@{
    ViewData["Title"] = "Create employe";
}

    
<div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">
        Add new employee
    </div>
    
    <div class="card-body card-block " bis_skin_checked="1">
        <form asp-action="Create" method="post" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
                <div class="row form-group" bis_skin_checked="1">
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="MiddleName" class="form-label"></label>
                        <input asp-for="MiddleName" class="form-control" />
                        <span asp-validation-for="MiddleName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group" bis_skin_checked="1">
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group" bis_skin_checked="1">
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group" bis_skin_checked="1">
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="DateOfBirth" class="form-label"></label>
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                    <div class="col-4" bis_skin_checked="1">
                        <label asp-for="Phone" class="form-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>

            <div class="row form-group" bis_skin_checked="1">
                <div class="col-8" bis_skin_checked="1">
                    <label asp-for="RoleId" class="form-label"></label>
                    <select asp-for="RoleId" asp-items="Model.Roles" class="form-control">
                        <option value="0">Please select</option>
                    </select>
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
            </div>
            <div >

                <input type="submit" asp-action="CreateEmployee" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}